In [2]:
import pandas as pd

# Charger le fichier mis à jour
df = pd.read_csv('data/data_clusters_anomaly.csv')

# Calculer le nombre total d'utilisateurs uniques
total_users = df['user_number'].nunique()

print(f"Nombre total d'utilisateurs : {total_users}")
df

Nombre total d'utilisateurs : 167

       user_number             datetime  Consommation  cluster  anomalie type
0              0_1  2016-01-03 01:19:43             0        0         0  NaN
1              0_1  2016-01-03 02:19:43             0        0         0  NaN
2              0_1  2016-01-03 03:19:43             0        0         0  NaN
3              0_1  2016-01-03 04:19:43             0        0         0  NaN
4              0_1  2016-01-03 05:39:54             0        0         0  NaN
...            ...                  ...           ...      ...       ...  ...
604471        2_75  2017-02-12 19:53:03             0        2         0  NaN
604472        2_75  2017-02-12 20:53:03             0        2         0  NaN
604473        2_75  2017-02-12 21:53:02             0        2         0  NaN
604474        2_75  2017-02-12 22:53:02             0        2         0  NaN
604475        2_75  2017-02-12 23:53:02             0        2         0  NaN

[604476 rows x 6 columns]

In [42]:
# Afficher une seule fois chaque type sans répétition, y compris 0
types_uniques = df['type'].dropna().unique()

# Afficher les types
print("Types uniques dans la colonne 'type' :")
for type_value in types_uniques:
    print(type_value)

Types uniques dans la colonne 'type' :
prb de retour d/eau
Fuite de consommation
prb de compteur
Surconsommation
Coupure d'eau